.photoswipe {
    a {
        pointer-events: none;
    }
    figure {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    .item {
        padding-bottom: 0;
    }
}

