@tailwind components;
@tailwind utilities;

$themeColor: #007aff !default;
$colors: ("white": #ffffff, "black": #000000) !default;

@import "./scss/functions";
@import "./components/core/core";

.swiper-slide {
    display: flex;
    width: auto;
    align-items: center;
    background: transparent;
    margin-right: 1px;
}

.swiper-left, .swiper-right {
    &:focus {
        outline: none;
    }
    cursor: pointer;
    z-index: 1;
    background: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-left {
    left: 0;
}

.swiper-right {
    right: 0;
}
